# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
* List popular languages for data science
* Construct a table
* Create an unordered list
* Insert comments

Some of the popular languages data scientists use are:
1. Python
2. R
3. SQL
4. Jaava

Some of the commonly used libraries utilized by data scientists include:
* Pandas
* TensorFlow
* Plotly

| Data Science Tools |
| ----- |
| Apache Spark |
| TensorFlow |
| Python |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes into hours by dividing by 60.

(200/60)

3.3333333333333335

## Author
Charles Lyon